# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [4]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep = "|")
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [21]:
mean_age_per_occupation = users.groupby('occupation')['age'].mean()
mean_age_per_occupation

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [26]:
def calculate_male_ratio(group):
    total_count = group['gender'].count()
    male_count = group[group['gender'] == 'M']['gender'].count()
    return male_count / total_count

In [27]:
male_ratio_per_occupation = users.groupby('occupation').apply(calculate_male_ratio)
sorted_male_ratio_per_occupation = male_ratio_per_occupation.sort_values(ascending=False)
sorted_male_ratio_per_occupation

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [18]:
min_age = users.groupby('occupation')['age'].min()
min_age

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [19]:
max_age = users.groupby('occupation')['age'].max()
max_age

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age

In [22]:
mean_age = users.groupby(['occupation', 'gender'])['age'].mean()
mean_age

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [30]:
def calculate_male_ratio(group):
    total_count = group['gender'].count()
    male_count = group[group['gender'] == 'M']['gender'].count()
    female_count = group[group['gender'] == 'F']['gender'].count()
    return female_count / total_count * 100 , male_count / total_count * 100

In [39]:
female_and_male_percentage_occupation = users.groupby('occupation').apply(calculate_male_ratio)
female_and_male_percentage_occupation
# sorted_male_ratio_per_occupation = female_and_male_percentage_occupation.sort_values(ascending=False)
# sorted_male_ratio_per_occupation

occupation
administrator     (45.56962025316456, 54.43037974683544)
artist            (46.42857142857143, 53.57142857142857)
doctor                                      (0.0, 100.0)
educator         (27.368421052631582, 72.63157894736842)
engineer         (2.9850746268656714, 97.01492537313433)
entertainment     (11.11111111111111, 88.88888888888889)
executive                                (9.375, 90.625)
healthcare                                (68.75, 31.25)
homemaker        (85.71428571428571, 14.285714285714285)
lawyer           (16.666666666666664, 83.33333333333334)
librarian         (56.86274509803921, 43.13725490196079)
marketing         (38.46153846153847, 61.53846153846154)
none              (44.44444444444444, 55.55555555555556)
other            (34.285714285714285, 65.71428571428571)
programmer         (9.090909090909092, 90.9090909090909)
retired           (7.142857142857142, 92.85714285714286)
salesman                                    (25.0, 75.0)
scientist          (9.67741935483871, 90.32258064516128)
student          (30.612244897959183, 69.38775510204081)
technician       (3.7037037037037033, 96.29629629629629)
writer            (42.22222222222222, 57.77777777777777)
dtype: object