# Ex -

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import ydata_profiling as profil

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')
# profil.ProfileReport(df)

### Step 4.

### Show the first 10 rows of data

In [3]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5.

### Set the order_id as the default index

In [4]:
df.set_index('order_id', inplace=True)
df

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 6.

In [5]:
df.isnull().sum()

quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [6]:
df['choice_description'].fillna(df['item_name'], inplace=True)

In [8]:
df

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,Chips and Fresh Tomato Salsa,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,Chips and Tomatillo-Green Chili Salsa,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4622 entries, 1 to 1834
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   quantity            4622 non-null   int64
 1   item_name           4622 non-null   object
 2   choice_description  4622 non-null   object
 3   item_price          4622 non-null   object
dtypes: int64(1), object(3)
memory usage: 180.5+ KB

In [12]:
df['item_price'] = df['item_price'].str.replace('$', '').astype(float)  # Convert item_price to numeric

C:\Users\user\AppData\Local\Temp\ipykernel_19956\4193055209.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price'] = df['item_price'].str.replace('$', '').astype(float)  # Convert item_price to numeric

In [15]:
df['item_price'].info()

<class 'pandas.core.series.Series'>
Int64Index: 4622 entries, 1 to 1834
Series name: item_price
Non-Null Count  Dtype
--------------  -----
4622 non-null   float64
dtypes: float64(1)
memory usage: 72.2 KB

What is the total quantity of items sold in the dataset?
Which item_name appears the most frequently in the dataset?
What are the most popular choice_description(s) among customers?
What is the average item_price for all items in the dataset?
How does the item_price vary with different choice_description(s)?
Are there any items with unusual quantities that require further investigation?
Can you identify any specific patterns or trends in item_name and quantity sold?
What is the total revenue generated from item sales?

In [ ]:
df['quantity'].sum()

In [ ]:
df['item_name'].mode().values[0]

In [ ]:
df['choice_description'].mode().values[0]

In [ ]:

def convert_to_float(string_value):
    cleaned_string = string_value.replace('$', '')
    return float(cleaned_string)

# Apply the conversion function to the Series
df['item_price'] =  df['item_price'].apply(convert_to_float)

# Print the float Series
print( df['item_price'].mean())

In [ ]:
df.groupby('choice_description')['item_price'].mean()

In [ ]:
df[df['quantity'] < 0].sum()

In [ ]:
df.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

In [ ]:
(df['item_price'] * df['quantity']).sum()

In [ ]:
df['choice_description'].fillna(df['item_name'], inplace=True)

In [ ]:
df.describe()

### Step 7.

### Step 8.

### Step 9.

### Step 10.

### Step 11.

### Step 12.

### Step 13.

### Step 14.

### Step 15.

### Step 16.

### BONUS: Create your own question and answer it.