# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib as mpl

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
pd.read_table('raw.githubusercontent.com_justmarkham_DAT8_master_data_chipotle.tsv.txt')

,order_id,qntituay,itenam_me,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_table('raw.githubusercontent.com_justmarkham_DAT8_master_data_chipotle.tsv.txt')

### Step 5. What is the price of each item? 
##### print a data frame with only two columns item_name and item_price

In [4]:
df = chipo[['itenam_me', 'item_price']]
df

                                  itenam_me item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [5]:
df.sort_values('itenam_me')

              itenam_me item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
...                 ...        ...
2384  Veggie Soft Tacos     $8.75
781   Veggie Soft Tacos     $8.75
2851  Veggie Soft Tacos     $8.49
1699  Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [16]:
max_price = chipo['itenam_me'].max()
most_expensive_item = chipo.loc[chipo['item_price'] == max_price, ['itenam_me', 'qntituay']]
print("Most expensive item ordered:")
print(most_expensive_item)

Most expensive item ordered:
Empty DataFrame
Columns: [itenam_me, qntituay]
Index: []

In [17]:




max_price = chipo['item_price'].max()
quantity_with_max_price = chipo.loc[chipo['item_price'] == max_price, 'qntituay']

print("Quantity with maximum item price:")
print(quantity_with_max_price)

Quantity with maximum item price:
607     1
1418    1
1421    1
1825    1
1865    1
2600    1
2624    1
3098    1
3115    1
3356    1
4036    1
4241    1
4390    1
4391    1
4419    1
4547    1
4572    1
Name: qntituay, dtype: int64

In [18]:
set(chipo['qntituay'])

{1, 2, 3, 4, 5, 7, 8, 10, 15}

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [19]:
selected_rows = chipo[chipo['itenam_me'] == 'Veggie Salad Bowl'].sum()
len(selected_rows)

5

### Step 9. How many times did someone order more than one Canned Soda?

In [24]:

soda_rows = chipo[(chipo['itenam_me'] == 'Canned Soda') & (chipo['qntituay'] > 1)]
len(soda_rows)

20